body {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4%;
}

#ligadesliga {
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4%;
}

#imagem {
    margin-top: 10%;
    border: 3px solid black;
}