* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: #ccc;
}

main {
    min-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
}

section {
    width: 80%;
    margin: 0 auto;
}

h1,
section,
article {
    margin-bottom: 1rem;
}

#botoes {
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* botoes */
button {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.625rem;
    cursor: pointer;
    width: 100px;
    font-size: large;
    margin: 1rem;
}

/* botao light */
#btlight {
    background: #ededed;
    color: #121212;
}

/* botao dark */
#btdark {
    background-color: #14181a;
    color: #ffffff;
}

/* botao blue */
#btblue {
    background-color: #167aac;
    color: #ffffff;
}

/* botao yellow */
#btyellow {
    background-color: #efe63b;
    color: #000000;
}

#btpink {
    background-color: rgb(209, 153, 163);
    color: black;
}

/* articles com a class box */
.box {
    padding: 1rem;
    border-radius: 8px;
}

/* Estilos para serem usados via JS */
.light {
    background: #fff;
    color: #191919;
}

.dark {
    background: #222;
    color: #fff;
}

.azul {
    background: #1a237e;
    color: #fff;
}

.escura {
    background: #333;
    color: #fff;
    border-radius: 5px;
    padding: 1rem;
}

.amarelo {
    background: #ffc107;
    color: #000000;
}

.rosa {
    background: pink;
    color: #000000;
}

#titulo1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudos {
    text-align: center;
}

#tituloimg {
    margin-bottom: 2%;
}