body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(175, 171, 162);
    width: auto;
    text-align: center;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
}

button {
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: (#d3d3d3);
    border-radius: 15px 15px;
    box-shadow: 2.5px 2.5px;
    margin-bottom: 1.5%;
    font-size: large;
}

h1,
h2,
label {
    color: white;
}

label {
    font-size: larger;
}

.botoes {
    padding-top: 3.5%;
}

input {
    box-shadow: 2.5px 2.5px;
    background-color: rgb(#d3d3d3);
    font-size: larger;
}

#titulo {
    padding-top: 6.5%;
}

#esc {
    padding-bottom: 2.5%;
}

#escrev {
    padding-bottom: 1.5%;
    padding-top: 2.5%;
}



.linha {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.col-6 {
    width: 50%;
    text-align: center;
}

@media (max-width: 624px) {
    .linha {
        flex-direction: column;
    }

    .col-6 {
        margin-top: 5%;
        width: 100%;
    }
}