header,
main {
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(175, 171, 162);
}

button {
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(194, 199, 199);
    border-radius: 15px 15px;
    box-shadow: 2.5px 2.5px;
}

.botoes {
    padding-top: 3.5%;
}

input {
    box-shadow: 2.5px 2.5px;
    background-color: rgb(194, 199, 199);
}

#titulo {
    padding-top: 6.5%;
}

#esc {
    display: flex;
    align-items: center;
}

#esc2 {
    display: flex;
    align-items: center;
}
 
#escrev {
    padding-bottom: 3.5%;
    padding-top: 2.5%;
}